.banner-img {
    padding-bottom: 1px;
    width: 100%;
  }

nav {
    font-family: Arial, Helvetica, sans-serif; /* set font */
      background-color: purple; /* background colour */
      font-size: 1em; /* text size */
    color: white; /*text color*/
    padding-top: 1px
  }  