/*
Colour Palette :)
FFF4C9
C7E78B
81AE64
709053 */

/* @font-face {
  font-family: 'openDyslexic';
  src: url('fonts/OpenDyslexic-Regular.otf') format(''),
       url('fonts/OpenDyslexic-Bold.otf') format(''),
       url('fonts/OpenDyslexic-BoldItalic.otf') format(''),
       url('fonts/OpenDyslexic-Italic.otf') format('');
  font-style: normal;
} */


body {
    background-color: #DAF7A6;
    }
    
.banner-img {
    padding-bottom: 1px;
    width: 100%;
    vertical-align: top;
    }
    
nav {
    font-family: Arial, Helvetica, sans-serif; /* set font */
    background-color: green; /* background colour */
    font-size: 1em; /* text size */
    color: white; /*text color*/
    padding-top: 1px;
    padding-bottom: 1ps;
    }  
    
  a:link, a:visited, a:active,a:hover {
    color: white; /*text color*/
    }

/* Main Content Area */
  .main-content-area{
    overflow: hidden;
    padding: 2%;
    background-color: #ece4e4;
    }

  .first-food-area{
    padding-left: 2%;
    float:left; 
    background: #DAF7A6;
    width:30%;
    height:500px;
    overflow: hidden;
  }

  .second-route-area{
    padding-left: 3%;
    float:left; 
    background: #DAF7A6;
    width:30%;
    height:500px;
    overflow: hidden;
  }

  .third-bin-map{
    padding-left: 3%;
    padding-right:2%;
    float:right;
    background: #DAF7A6;
    width:30%;
    height:500px;
    overflow: hidden;
  }
  
  .socail-media-links {
    /* background-color: #b2c1ce ; */
    /* border: 2px solid #9aa6b0; */
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    }
    
  .button:hover {
    background-color: purple;
    color: white;
    }

  footer{
    background-color: #81AE64;
    color: white;
    text-align: center;
    margin: 0px;
    vertical-align: baseline;
    }

  p{
    color: black;
    font-size: large;
    text-align: center;
  }